<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <title>cart</title>
    <link rel="stylesheet" type="text/css" href="../css/public.css"/>
    <link rel="stylesheet" type="text/css" href="../css/proList.css"/>
</head>
<body>
<!--------------------------------------cart--------------------->
<th:block th:include="webapp/link::link"></th:block>
<div class="head ding">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top">
            <h1 class="fl"><a href="index.html"><img src="/img/logo.png"/></a></h1>
            <div class="fr clearfix" id="top1">
                <p class="fl">
                    <a href="login.html" id="login">登录</a>
                    <a href="reg.html" id="reg">注册</a>
                </p>
                <form action="#" method="get" class="fl">
                    <input type="text" placeholder="搜索"/>
                    <input type="button"/>
                </form>
                <div class="btn fl clearfix">
                    <a href="mygxin.html"><img src="/img/grzx.png"/></a>
                    <a href="#" class="er1"><img src="/img/ewm.png"/></a>
                    <a href="cart.html"><img src="/img/gwc.png"/></a>
                    <p><a href="#"><img src="/img/smewm.png"/></a></p>
                </div>
            </div>
        </div>
        <ul class="clearfix" id="bott">
            <li><a href="index.html">首页</a></li>
            <li><a href="flowerDer.html">装饰摆件</a></li>
            <li><a href="decoration.html">布艺软饰</a></li>
            <li><a href="paint.html">墙式壁挂</a></li>
            <li><a href="perfume.html">蜡艺香薰</a></li>
            <li><a href="idea.html">创意家居</a></li>
        </ul>
    </div>
</div>
<div class="cart mt">
    <!-----------------logo------------------->
    <!--<div class="logo">
        <h1 class="wrapper clearfix">
            <a href="index.html"><img class="fl" src="img/temp/logo.png"></a>
            <img class="top" src="img/temp/cartTop01.png">
        </h1>
    </div>-->
    <!-----------------site------------------->
    <div class="site">
        <p class=" wrapper clearfix">
            <span class="fl">购物车</span>
            <img class="top" src="/img/temp/cartTop01.png">
            <a href="index.html" class="fr">继续购物&gt;</a>
        </p>
    </div>
    <!-----------------table------------------->
    <div class="table wrapper">
        <form id="form">
        <div class="tr">
            <div>商品</div>
            <div >单价</div>
            <div>数量</div>
            <div>小计</div>
            <div>操作</div>
        </div>
        <!-- each-->
        <div class="th" th:if="${page.total} > 0" th:each="cart: ${page.records}">
            <div class="pro clearfix">
                <label class="fl">
                    <input type="checkbox" name="cartId" th:value="${cart.cartId}"/>
                    <span></span>
                </label>
                <a class="fl" href="#">
                    <dl class="clearfix">
                        <dt class="fl"><img th:src="${cart.commodity.commodityPicture}" width="100px"></dt>
                        <dd class="fl">
                            <p th:text="${cart.commodity.commodityName}"></p>
                        </dd>
                    </dl>
                </a>
            </div>
            <div class="price" th:text="${'￥'+cart.commodity.price}"></div>
            <div class="number">
                <p class="num clearfix">
                    <span class="fl" th:text="${cart.number}"></span>
                </p>
            </div>
            <div class="price sAll" th:text="${'￥'+cart.cartPrices}"></div>
            <div class="price"><a class="del" href="#2">删除</a></div>
        </div>

        <div th:if="${page.total} < 0">
            <div class="goOn">空空如也~<a href="index.html">去逛逛</a></div>
        </div>
        <!---->

        <!--page-->
        <div id="test1"></div>
        <!--page-->
        </form>

        <div class="tr clearfix">
            <label class="fl">
                <input class="checkAll" type="checkbox"/>
                <span></span>
            </label>
            <p class="fl">
                <a href="#">全选</a>
                <a href="#" class="del">删除</a>
            </p>
            <p class="fr">

                <span>合计:&nbsp;<small id="all">￥0.00</small></span>
                <a onclick="pay()" class="count">结算</a>
            </p>
        </div>
    </div>
</div>
<!--返回顶部-->
<th:block th:replace="webapp/gotop::gotop"></th:block>
<!--footer-->
<th:block th:replace="webapp/gotop::footer"></th:block>
<!----------------mask------------------->
<!-------------------mask内容------------------->
<script src="/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8" ></script>
<script src="/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/pro.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/cart.js" type="text/javascript" charset="utf-8"></script>
<script>
    layui.use('layer', function(){
        var layer = layui.layer;
    });
    layui.use('laypage', function(){
        var laypage = layui.laypage;
        //执行一个laypage实例
        laypage.render({
            elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
            ,count: [[${page.total}]] //数据总数，从服务端得到
            ,theme: '#aaa'
            ,jump: function(obj, first){
                //obj包含了当前分页的所有参数，比如：
                console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                console.log(obj.limit); //得到每页显示的条数
                //首次不执行
                if(!first){
                    //do something
                    $.ajax(
                        {
                            url:"/user/layout",
                            type:"POST",
                            dataType:"json",
                            data:{
                                page: obj.curr+1,
                                size: obj.limit,
                                userid:[[${#session.getAttribute('user_session').userId}]]
                            },
                            success:function (result) {
                                if(result.errorCode == 'success'){
                                    console.log(result)

                                    // layer.alert(result.msg, {icon: 6},function () {
                                    //     window.location.href = "/";
                                    // });
                                }
                                if(result.errorCode == 'fail'){
                                    layer.alert(result.msg, {icon: 5});
                                }
                            }
                        }
                    )
                }
            }
        });
    });

    function pay() {
        var data =$('#form').serialize();
        if( data== ""){
            layer.alert('还没有选择购物车', {icon: 5});
            return;
        }
       window.location.href = '/order/pay?'+data;
    }

</script>
</body>
</html>
