<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--1-->
<div>
    <div th:fragment="head">
        <div class="head">
            <div class="wrapper clearfix">
                <div class="clearfix" id="top">
                    <h1 class="fl"><a href="index.html"><img src="/img/logo.png"/></a></h1>
                    <div class="fr clearfix" id="top1">
                        <p class="fl">
                            <th:block th:if="${#session.getAttribute('user_session') == null}">
                                <a th:href="@{/user/login}" id="login">登录</a>
                                <a th:href="@{/user/reg}" id="reg">注册</a>
                            </th:block>
                            <th:block th:if="${#session.getAttribute('user_session') != null}">
                                <a href="javaScript:void(0)" th:text="${#session.getAttribute('user_session').userName}"></a>
                                <a href="javaScript:void(0)" onclick="layouts()" id="reg">注销</a>
                            </th:block>
                        </p>
                        <form action="#" method="get" class="fl">
                            <input type="text" placeholder="热门搜索：干花花瓶"/>
                            <input type="button"/>
                        </form>
                        <div class="btn fl clearfix">
                            <a href="mygxin.html"><img src="/img/grzx.png"/></a>
                            <a href="#" class="er1"><img src="/img/ewm.png"/></a>
                            <a th:href="@{/cart}" href="cart.html"><img src="/img/gwc.png"/></a>
                            <p><a href="#"><img src="/img/smewm.png"/></a></p>
                        </div>
                    </div>
                </div>
                <ul class="clearfix" id="bott">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="flowerDer.html">装饰摆件</a></li>
                    <li><a href="decoration.html">布艺软饰</a></li>
                    <li><a href="paint.html">墙式壁挂</a></li>
                    <li><a href="perfume.html">蜡艺香薰</a></li>
                    <li><a href="idea.html">创意家居</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--1-->


<!--2-->
<div th:fragment="userhead">
    <div class="head ding">
        <div class="wrapper clearfix">
            <div class="clearfix" id="top">
                <h1 class="fl"><a href="index.html"><img src="/img/logo.png"/></a></h1>
                <div class="fr clearfix" id="top1">
                    <p class="fl">
                        <th:block th:if="${#session.getAttribute('user_session') == null}">
                            <a th:href="@{/user/login}" id="login">登录</a>
                            <a th:href="@{/user/reg}" id="reg">注册</a>
                        </th:block>
                        <th:block th:if="${#session.getAttribute('user_session') != null}">
                            <a href="javaScript:void(0)" th:text="${#session.getAttribute('user_session').userName}"></a>
                            <a href="javaScript:void(0)" onclick="layouts()" id="reg">注销</a>
                        </th:block>
                    </p>
                    <form action="#" method="get" class="fl">
                        <input type="text" placeholder="搜索" />
                        <input type="button" />
                    </form>
                    <div class="btn fl clearfix">
                        <a href="mygxin.html"><img src="/img/grzx.png"/></a>
                        <a href="#" class="er1"><img src="/img/ewm.png"/></a>
                        <a href="cart.html"><img src="/img/gwc.png"/></a>
                        <p><a href="#"><img src="/img/smewm.png"/></a></p>
                    </div>
                </div>
            </div>
            <ul class="clearfix" id="bott">
                <li><a href="index.html">首页</a></li>
                <li><a href="flowerDer.html">装饰摆件</a></li>
                <li><a href="decoration.html">布艺软饰</a></li>
                <li><a href="paint.html">墙式壁挂</a></li>
                <li><a href="perfume.html">蜡艺香薰</a></li>
                <li><a href="idea.html">创意家居</a></li>
            </ul>
        </div>
    </div>
</div>
<!--2-->

</body>
</html>