<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/home.css" />
		<link rel="stylesheet" href="assets/css/ace.min.css" />
		<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
		<link href="assets/css/codemirror.css" rel="stylesheet" />
		<script src="assets/js/ace-extra.min.js"></script>
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/dist/echarts.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<title></title>
		<style>

			#move {
				position: absolute;
				width: 550px;
				height: 52px;
				left: 600px;
				margin: 0 auto;
				color: #000000;
				font-size: 100px;
				font-style: oblique;
			}
		</style>
	</head>
	<body>
		<div id='move'> 欢迎来到雅阁后台管理系统</div>
	</body>
</html>
