<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		
		<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/style.css" />
		<link href="assets/css/codemirror.css" rel="stylesheet" />
		<link rel="stylesheet" href="assets/css/ace.min.css" />
		<link rel="stylesheet" href="font/css/font-awesome.min.css" />
		<title>修改商品</title>
		
		</style>
	</head>
	<body>
		<form action="" method="post" class="form form-horizontal" id="form-article-add">
			
			<!-- <div class=" clearfix cl">
			 <label class="form-label col-2">产品名：</label>
			 <div class="formControls col-10"><input type="text" class="input-text" value="" placeholder="" id="" name=""></div>
			</div> -->
			<div class=" clearfix cl">
				<div class="Add_p_s">
				<label class="form-label col-2">产品名：</label>
				<div class="formControls col-2"><input type="text" class="input-text" value="" placeholder="" id="" name=""></div>
				</div>
				
				<div class="Add_p_s">
				<label class="form-label col-2">产品编号：</label>
				<div class="formControls col-2"><input type="text" class="input-text" value="" placeholder="" id="" name=""></div>
				</div>
		        <div class="Add_p_s">
		         <label class="form-label col-2">类别编号：</label>	
				 <div class="formControls col-2"><input type="text" class="input-text" value="" placeholder="" id="" name=""></div>
				</div>
		        <div class="Add_p_s">
		         <label class="form-label col-2">市场价格：</label>	
				 <div class="formControls col-2"><input type="text" class="input-text" value="" placeholder="" id="" name="" >元</div>
				</div>
				<div class="Add_p_s">
				 <label class="form-label col-2">上架时间：</label>	
				 <div class="formControls col-2"><input type="text" class="input-text" value="" placeholder="" id="" name="" ></div>
				</div>
			</div>
			<div class="clearfix cl">
				<div class="Button_operation">
					<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="icon-save "></i>保存修改</button>
					<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
				</div>
			</div>
		</form>
	</body>
</html>
