<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <title>order</title>
    <link rel="stylesheet" type="text/css" href="/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proList.css"/>
    <link rel="stylesheet" type="text/css" href="/css/mygxin.css"/>
</head>
<body>
<!----------------------------------------order------------------>
<th:block th:include="webapp/link::link"></th:block>
<div class="head ding">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top">
            <h1 class="fl"><a href="index.html"><img src="/img/logo.png"/></a></h1>
            <div class="fr clearfix" id="top1">
                <p class="fl">
                    <a href="#" id="login">登录</a>
                    <a href="#" id="reg">注册</a>
                </p>
                <form action="#" method="get" class="fl">
                    <input type="text" placeholder="搜索"/>
                    <input type="button"/>
                </form>
                <div class="btn fl clearfix">
                    <a href="mygxin.html"><img src="/img/grzx.png"/></a>
                    <a href="#" class="er1"><img src="/img/ewm.png"/></a>
                    <a href="cart.html"><img src="/img/gwc.png"/></a>
                    <p><a href="#"><img src="/img/smewm.png"/></a></p>
                </div>
            </div>
        </div>
        <ul class="clearfix" id="bott">
            <li><a href="index.html">首页</a></li>
            <li><a href="flowerDer.html">装饰摆件</a></li>
            <li><a href="decoration.html">布艺软饰</a></li>
            <li><a href="paint.html">墙式壁挂</a></li>
            <li><a href="perfume.html">蜡艺香薰</a></li>
            <li><a href="idea.html">创意家居</a></li>
        </ul>
    </div>
</div>
<div class="order cart mt">
    <!-----------------site------------------->
    <div class="site">
        <p class="wrapper clearfix">
            <span class="fl">订单确认</span>
            <img class="top" src="/img/temp/cartTop02.png">
        </p>
    </div>
    <!-----------------orderCon------------------->
    <div class="orderCon wrapper clearfix">

        <div class="orderL fl">
            <!--------h3---------------->
            <h3>收件信息<a href="/user/address" class="fr">新增地址</a></h3>
            <!--------addres---------------->
            <div class="addres clearfix">
                <form id="form">
                <div class="addre fl" th:each="address: ${addresss}">
                    <div class="tit clearfix">
                        <p class="fl"> <input type="radio" name="address" th:value="${address.addressId}"><span th:text="${address.addressName}">张三1</span>

<!--                                <span class="default">[默认地址]</span>-->
                        </p>
                        <p class="fr">
                            <a href="/user/address" class="edit1">编辑</a>
                        </p>
                    </div>
                    <div class="addCon">
                        <p th:text="${address.receiverProvince}+' '+${address.receiverCity}+' '+${address.receiverDistrict}+' '+${address.address}">河北省&nbsp;唐山市&nbsp;路北区&nbsp;大学生公寓村</p>
                        <p th:text="${address.addressTelephone}">15732570937</p>
                    </div>
                </div>
                </form>
            </div>
            <!-- <h3>支付方式</h3> -->
            <!--------way---------------->
            <!-- <div class="way clearfix">
                <img class="on" src="img/temp/way01.jpg">
                <img src="img/temp/way02.jpg">
                <img src="img/temp/way03.jpg">
                <img src="img/temp/way04.jpg">
            </div> -->
            <!-- <h3>选择快递</h3> -->
            <!--------dis---------------->
            <!-- <div class="dis clearfix">
                <span class="on">顺风快递</span>
                <span>百世汇通</span>
                <span>圆通快递</span>
                <span>中通快递</span>
            </div> -->
        </div>
        <div class="orderR fr">
            <div class="msg">
                <h3>订单内容<a href="cart.html" class="fr">返回购物车</a></h3>
                <!--------ul---------------->
                <ul class="clearfix" th:each="cart:${carts}">
                    <li class="fl">
                        <img th:src="${cart.commodity.commodityPicture}" width="88px">
                    </li>
                    <li class="fl">
                        <p th:text="${cart.commodity.commodityName}"></p>
                        <br/>
                        <p>数量：<span th:text="${cart.number}"></span></p>
                    </li>
                    <li class="fr">￥<span th:text="${cart.cartPrices}"></span></li>
                </ul>
            </div>
            <!--------tips---------------->
            <div class="tips">
                <p><span class="fl">商品金额：</span><span class="fr" th:text="${'￥'+proPrice}"></span></p>
                <p><span class="fl">运费：</span><span class="fr">免运费</span></p>
            </div>
            <!--------tips count---------------->
            <div class="count tips">
                <p><span class="fl">合计：</span><span class="fr" th:text="${'￥'+allPrice}"></span></p>
            </div>
            <!--<input type="button" name="" value="去支付"> -->
            <a onclick="pay()" class="pay">去支付</a>
        </div>
    </div>
</div>
<!--返回顶部-->
<th:block th:include="webapp/gotop::gotop"></th:block>
<!--footer-->
<th:block th:replace="webapp/gotop::footer"></th:block>
<script src="/js/pro.js" type="text/javascript" charset="utf-8"></script>
<script>
    //一般直接写在一个js文件中
    layui.use('layer', function(){
        var layer = layui.layer;
    });

    function pay(){
        if($('input[name=cartId]').val()){

        }
        console.log($('input[name=cartId]').val())
         $.ajax(
            {
                url:"/order/money",
                type:"POST",
                dataType:"json",
                data:$("#form").serialize(),
                success:function (result) {
                    if(result.errorCode == 'success'){
                        layer.alert(result.msg, {icon: 6});
                    }
                    if(result.errorCode == 'fail'){
                        layer.alert(result.msg, {icon: 5});
                    }
                }
            }
        )
    }

</script>
</body>

</html>
