<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<meta charset="utf-8" />
		<title>个人信息</title>
		<link rel="stylesheet" type="text/css" href="/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="/css/mygrxx.css" />
	</head>
	<body>
	<th:block th:include="webapp/link::link"></th:block>
		<!------------------------------head------------------------------>
	<th:block th:include="webapp/head::userhead"></th:block>
		<!------------------------------idea------------------------------>
		<div class="address mt">
			<div class="wrapper clearfix">
				<a href="index.html" class="fl">首页</a>
				<span>/</span>
				<a href="mygxin.html" class="on">个人信息</a>
			</div>
		</div>
		
		<!------------------------------Bott------------------------------>
		<div class="Bott">
			<div class="wrapper clearfix">
				<div class="zuo fl">
					<h3>
						<a href="#"><img src="/img/tx.png"/></a>
						<p class="clearfix"><span class="fl" th:text="${'['+#session.getAttribute('user_session').userName}+']'"></span><span class="fr">[退出登录]</span></p>
					</h3>
					<div>
						<h4>我的交易</h4>
						<ul>
							<li><a href="/cart/index">我的购物车</a></li>
							<li><a href="myorderq.html">我的订单</a></li>
							<li><a href="myprod.html">评价晒单</a></li>
						</ul>
						<h4>个人中心</h4>
						<ul>
							<li  class="on"><a href="/user/index">我的中心</a></li>
							<li><a href="/user/address">地址管理</a></li>
						</ul>
						<h4>账户管理</h4>
						<ul>
							<li><a href="/user/info">个人信息</a></li>
							<li><a href="/user/pass">修改密码</a></li>
						</ul>
					</div>
				</div>

				<div class="you fl">
					<h2>修改密码</h2>
					<form id="form" action="#" method="get" class="remima">
						<p><span>选择验证身份方式：</span><input type="checkbox" />密码验证  <input type="checkbox" />邮箱验证 </p>
						<p><span>原密码：</span><input name="password" type="text" /></p>
						<p class="op">输入原密码</p>
						<p><span>新密码：</span><input name="newpass" type="text" /></p>
						<p class="op">6-16 个字符，需使用字母、数字或符号组合，不能使用纯数字、纯字母、纯符号</p>
						<p><span>重复新密码：</span><input name="renewpass" type="text" /></p>
						<p class="op">请再次输入密码</p>
						<p><span>验证码：</span><input type="text" /><img src="/img/temp/code.jpg" alt="" /></p>
						<p class="op">按右图输入验证码，不区分大小写</p>
						<input type="submit" value="提交" />
					</form>
				</div>
			</div>
		</div>
		
		<!--返回顶部-->
	<th:block th:replace="webapp/gotop::gotop"></th:block>
		<!--footer-->
	<th:block th:replace="webapp/gotop::footer"></th:block>
	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
	<script>
		//一般直接写在一个js文件中
		layui.use('layer', function(){
			var layer = layui.layer;
		});
		//电话号码
		$.validator.addMethod("testPass",function(value,element,params){
			var reg = /^[0-9a-zA-Z_]{1,}$/;
			if(reg.test(value))
				return true;
			return false;
		},"密码格式不正确");
		$.validator.addMethod("testold",function(value,element,params){
			var old = $("input[name=password]").val();
			if(old == value)
				return false;
			return true;
		},"新密码不能与旧密码一致");

		$().ready(function() {
			// 在键盘按下并释放及提交后验证提交表单
			$("#form").validate({
				rules: {
					password: {
						required: true,
						minlength: 6,
						maxlength:16
					},
					newpass: {
						required: true,
						minlength: 6,
						maxlength:16,
						testold:true,
						testPass:true,
					},
					renewpass: {
						required: true,
						minlength: 6,
						maxlength:16,
						testPass: true,
						equalTo:"input[name=newpass]"
					},
				},
				messages: {
					password: {
						required: "密码不能为空",
						minlength: "密码最少输入6个",
						maxlength:"密码最多输入16个"
					},
					newpass: {
						required: "确认密码不能为空",
						minlength: "密码最少输入6个",
						maxlength:"密码最多输入16个"
					},
					renewpass: {
						required: "电话号码不能为空",
						equalTo:"两次密码输入不一致",
						minlength: "密码最少输入6个",
						maxlength:"密码最多输入16个"
					},
				}
				,
				submitHandler:function(form){
					$.ajax(
							{
								url:"/user/change/pass",
								type:"POST",
								dataType:"json",
								data:$("#form").serialize()+"&userId=[[${#session.getAttribute('user_session').userId}]]"+"&username=[[${#session.getAttribute('user_session').userName}]]",
								success:function (result) {
									if(result.errorCode == 'success'){
										layer.alert(result.msg+",请重新登录哦！！", {icon: 6},function () {
											window.location.href = "/user/login";
										});
									}
									if(result.errorCode == 'fail'){
										layer.alert(result.msg, {icon: 5});
									}
								}
							}
					)
				}
			})
		});
	</script>
	</body>
</html>
